${jsonencode({
  "schemaVersion": "0.3",
  "description": "My description.",
  "assumeRole": "${assume_role_arn}"
  "mainSteps": [
    for key, values in arg_map:
    {
      "description": "Invoke Lambda Function ${key}",
      "name": "InvokeLambdaFunction${key}",
      "action": "aws:invokeLambdaFunction",
      "inputs": {
        "FunctionName": "${function_arn}",
        "InvocationType": "RequestResponse",
        "Payload": "{  \"${values[0]}\" : \"${values[1]}\"}"
      }
    }
  ]
})}